*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  font-family: "Montserrat";
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
body.fixed {
  overflow: hidden;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.main-wrapper .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
  color: #001757;
  text-align: center;
}

.hidden {
  display: none !important;
}

.about-penguins {
  width: 100%;
}

.custom_slider {
  width: 100%;
  max-width: 144rem;
  height: 50dvh;
  max-height: 50dvh;
  min-height: 80rem;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}
.slider-wrapper .slide {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 2rem;
  pointer-events: none;
}
.slider-wrapper .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-wrapper .slide:nth-child(1), .slider-wrapper .slide:nth-child(2) {
  top: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.slider-wrapper .slide.observed {
  pointer-events: auto;
}
.slider-wrapper .slide.observed .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-wrapper .content {
  max-width: 60rem;
  width: 100%;
  max-height: calc(100% - 4rem);
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  padding: 4rem 1rem 4rem 5rem;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0rem 2.4rem 2.4rem 0rem;
  z-index: 1;
  -webkit-animation: shadow 0.6s ease-in-out forwards;
          animation: shadow 0.6s ease-in-out forwards;
}
.slider-wrapper .content > div {
  overflow-y: auto;
  padding-right: 1rem;
  scrollbar-gutter: stable;
}
.slider-wrapper .content > div::-webkit-scrollbar {
  width: 8px;
}
.slider-wrapper .content > div::-webkit-scrollbar-track {
  background: #faedff;
  border-radius: 4px;
  margin: 1rem;
}
.slider-wrapper .content > div::-webkit-scrollbar-thumb {
  background: #041f96;
  border-radius: 4px;
}
.slider-wrapper .content > div::-webkit-scrollbar-thumb:hover {
  background: #02135c;
}
.slider-wrapper .content .slide-title {
  color: #f5fdff;
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}
.slider-wrapper .content p {
  color: #f5fdff;
  font-size: 2.4rem;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: left;
}

.arrows {
  position: absolute;
  top: calc(50% + 15rem);
  left: calc(50% + 25rem - 5rem - 2rem);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
}

.arrow {
  cursor: pointer;
  width: 5rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 5;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.arrow svg {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.arrow svg path {
  fill: #2d3386;
}
.arrow:hover {
  -webkit-box-shadow: 0rem 0rem 0.5rem #26363f;
          box-shadow: 0rem 0rem 0.5rem #26363f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.toggle-visibility {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 0.5rem;
}
.toggle-visibility.hide svg {
  display: block;
}
.toggle-visibility.hide svg.show {
  display: none;
}
.toggle-visibility svg {
  display: none;
}
.toggle-visibility svg.show {
  display: block;
}

a.linkIco {
  position: relative;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #f5fdff;
}
a.linkIco:hover {
  color: #d1f7ff;
}
a.linkIco:hover svg path {
  stroke: #d1f7ff;
}
a.linkIco svg path {
  stroke: #fff;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes shadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 1240px) {
  .slider-wrapper .slide {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .slider-wrapper .content {
    padding: 3rem 1rem 3rem 4rem;
  }
  .slider-wrapper .content .slide-title {
    font-size: 3rem;
    margin-bottom: 2.2rem;
  }
  .slider-wrapper .content p {
    font-size: 2rem;
    line-height: 1.2;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
  .custom_slider {
    height: 20dvh;
    max-height: 50dvh;
    min-height: 50rem;
  }
  .slider-wrapper .slide {
    top: 100%;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .slider-wrapper .content {
    padding: 2rem 1rem 2rem 2.5rem;
    border-radius: 0rem 0 2.4rem 0rem;
    max-height: 26.1rem;
  }
  .slider-wrapper .content .slide-title {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
  .slider-wrapper .content p {
    font-size: 1.6rem;
    line-height: 1.1;
  }
  .arrows {
    top: calc(50% + 5rem);
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .arrow {
    width: 5rem;
    height: 7rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .arrow.arrow_prev {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .arrow.arrow_next {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .arrow svg {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .arrow svg path {
    fill: #2d4a86;
  }
  .arrow:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
}