@import 'main-scss/_null.scss';

html {
  font-size: 10px;
}

body {
  background-color: white;
  font-family: 'Montserrat';
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;

  &.fixed {
    overflow: hidden;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content-wrapper {
    flex-grow: 1;
  }
}

.content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
  color: #001757;
  text-align: center;
}

.hidden {
  display: none !important;
}
